@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
    background: #E5E5E5;
    font-family: 'Inter';
    margin: 0rem;
}

.xxx{
    background-color: grey;
    border: black solid 1px;
}

/* HEADER */
.header-inicio{
    position: absolute;
    top: 1rem;
    left: 2rem;
}

/* MAIN */
.main-inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem 0rem;
}

/* ENCRIPTADOR */

.sec-encriptador{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.textbox-encriptador{
    text-align: center;
    margin-top: 10%;
}

textarea{
    background-color: #E5E5E5;
    border: 0px;
    font-size: 3.5vh;
    width: 100%;
    height: 66vh;
    resize: none;
    overflow: auto;
    outline: none;
    color: #0A3871;
}

textarea::placeholder{
    color: #0A3871;
}

.advertencia-encriptador{
    display: flex;
    flex-direction: row;
    font-size: 1.5vh;
    color: #8f8f8f;
}

.botones-encriptador{
    display: flex;
    flex-direction: row;
}

.advertencia-encriptador img {
    margin: 0rem 0.5rem 0rem 1rem
}


button{
    font-size: 1.8vh;
    margin: 0rem 1rem;
    padding: 2vh 15vh;
    border-radius: 16px;
    border: 1.5px #0A3871 solid;
    color: #0A3871;
    background-color: rgba(255, 255, 255, 0);
}

button:hover{
    background-color: #CED4DA;
}

.boton-encriptar button{
    background-color: #0A3871;
    color: white;
}

.boton-encriptar button:hover{
    background-color: #072B61;
}

/* ENCRIPTADO A */

.sec-encriptado-a{
    background-color: white;
    height: 90vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.muñeco {
    align-self: center;
}

.mensaje-inicio{
    width: 90%;
    text-align: center;
}

.mensaje-a {
    font-size: 2.7vh;
    font-weight: bold;
}

.mensaje-b {
    font-size: 1.6vh;
    line-height: 150%;
}

/* ENCRIPTADO B */

.sec-encriptado-b{
    background-color: white;
    height: 90vh;
    width: 400px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.mensaje-encriptado {
    margin: 1rem 2rem;
    color: #495057;
    font-size: 1.5rem;
}

.boton-copiar {
    margin: 2.5rem 1rem;
}

.boton-copiar button:hover {
    background-color: #EFF1FA;
}

@media screen and (max-width: 1320px) {

    /* ENCRIPTADOR */

    textarea{
        font-size: 3vh;
    }

    button{
        font-size: 1.7vh;
        padding: 1.5vh 13vh;
    }

    /* ENCRIPTADO A */

    .sec-encriptado-a {
        width: 30%;
    }

    .muñeco img{
        width: 250px;
    }

    .mensaje-a{
        font-size: 2.5vh;
    }

    .mensaje-b{
        font-size: 1.6vh;
    }

    /* ENCRIPTADO B */

    .sec-encriptado-b {
        width: 30%;
    }
}


@media screen and (max-width: 1120px) {

    /* ENCRIPTADOR */

    .main-inicio {
        flex-direction: column;
        align-items: center;
    }

    .sec-encriptador {
        width: 600px;
    }

    textarea{
        height: 50vh;
        font-size: 3.0vh;
    }

    button {
        padding: 1.5vh 10vh;
    }

    /* ENCRIPTADO A */

    .sec-encriptado-a {
        width: 90%;
        height: auto;
        margin: 2rem 0rem 0rem 0rem;
    }

    .mensaje-inicio {
        margin: 1.5rem 0rem;
    }

    .muñeco {
        display: none;
    }

    /* ENCRIPTADO B */

    .sec-encriptado-b {
        width: 90%;
        height: auto;
        margin: 2rem 0rem 0rem 0rem;
        justify-content: center;
    }

    .boton-copiar {
        margin: 1rem 0rem;
        width: 100%;
        align-items: center;
    }

    .boton-copiar button {
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;

}
}

@media screen and (max-width: 620px) {

    /* ENCRIPTADOR */

    textarea {
        width: fit-content;
    }

    .botones-encriptador {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    button {
        width: 100%;
        padding: 1.5vh 30vw;
        margin: 0.5rem 0rem;
    }

    .advertencia-encriptador {
        justify-content: center;
    }

    .sec-encriptado-a {
        width: 95%;
    }
}